<!DOCTYPE html>
<html>
  <head>
    <title></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <nav>
        <ul>
           <a href="/flights"><li>All Flights</li></a>
           <a href="/flights/new"> <li>Add Flights</li></a>
        </ul>
    </nav>

