<!DOCTYPE html>
<html>
  <head>
    <title></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <title></title>
  </head>
  <body>
    <header>
      <nav>
          <ul>
            <a href="/flights"><li>All Flights</li></a>
            <a href="/flights/new"> <li>Add Flights</li></a>
          </ul>
      </nav>
  </header>

